@model ProgettoUniversity.Models.API.AssociateOperationViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-action="AssociateSvc" method="post">

    <div class="row">
        <div class="col-md-8">
            Inserisci il numero di carta: <input type="text" name="Card" required data-min-length="34" data-max-length />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="number" name="NotificationType" required placeholder="Notification Type"/>
            </div>
            <div class="form-group">
                <input type="text" name="CardData.Holder.FirstName" required placeholder="First Name"/>
            </div>
            <div class="form-group">
                <input type="text" name="CardData.Holder.LastName" required placeholder="Last Name"/>
            </div>
            <div class="form-group">
                <input type="text" name="CardData.Holder.CompanyName" required placeholder="Company Name"/>
            </div>
            <div class="form-group">
                <input type="email" name="CardData.Holder.Email" required placeholder="Email"/>
            </div>
            <div class="form-group">
                <input type="text" name="CardData.Holder.BirthPlace" required placeholder="Birth Place"/>
            </div>
            <div class="form-group">
                <input type="text" name="CardData.Holder.FiscalCode" required placeholder="FiscalCode"/>
            </div>
            <div class="form-group">
                <input type="text" name="CardData.Holder.VATCode" required placeholder="VATCode"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="Partnerships.CustomerBasePartnerID" required placeholder="CustomerBasePartnerID"/>
                </div>
                <div class="form-group">
                    <input type="text" name="Partnerships.AssociationCode" required placeholder="AssociationCode"/>
                </div>
                <div class="form-group">
                    <select name="CardData.Holder.Gender">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" name="CardData.Holder.AddressType.AddressType" required placeholder="Address Type"/>
                </div>
                <div class="form-group">
                    <input type="text" name="CardData.Holder.AddressType.Direction" required placeholder="Direction"/>
                </div>
                <div class="form-group">
                    <input type="text" name="CardData.Holder.AddressType.Zip" required placeholder="zip"/>
                </div>
                <div class="form-group">
                    <input type="text" name="CardData.Holder.AddressType.District" required placeholder="District"/>
                </div>
                <div class="form-group">
                    <input type="text" name="CardData.Holder.AddressType.City" required placeholder="City"/>
                </div>
                <div class="form-group">
                    <input type="text" name="CardData.Holder.AddressType.Country" required placeholder="Country"/>
                </div>
            </div>
            </div>
    </div>

    <button type="submit"> ASSOCIA CARTA </button>
</form>
